<form class="form-horizontle" method="POST" action="/form/createUser">
  {{{returnMsg}}}
  <h2>Enter your id : </h2><input type="text" name="userId" value="{{{userId}}}"/>
  <h2>Enter your name : </h2><input type="text" name="userName" value="{{{userName}}}"/>
  <input type="submit" name="submit" value="create user"/>
<form>
