<script src="/javascripts/loginapi.js"></script>

<div class="container">
  <h5>Username: pankaj</h5>
  <h5>Password: admin@123</h5>
  <form name="loginForm" method="post" action="/login">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Welcome.</h4>
            <input type="text" id="username" name="username" class="form-control input-sm chat-input" placeholder="username" />
            </br>
            <input type="password" id="password" name="password" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <button type="submit" class="btn btn-primary btn-md">login</button>
            </span>
            </div>
            </div>
        </div>
    </div>
  <form>
</div>
